= f.fields_for :argumentaire do |arg_form|
  .field
    = arg_form.label :main_argument_name, "Principal"
    = arg_form.text_field :main_argument_name
  .field
    = arg_form.label :aux_argument_name, "Secondaire"
    = arg_form.text_field :aux_argument_name
