#article
  %h3= article.full_title
  - if user_signed_in?
    %ul.actions
      %li= link_to "Modifier", [:edit, article]
      %li= link_to "Detruire", article, :method => :delete, :confirm => "Are you sure?"
  .clear
  - unless article.authors.empty?
    %p
      %strong Autheurs :
      = article.authors_list
  - if article.argumentaire
    %p
      %strong Arguments :
      - unless article.main_argument.nil?
        = link_to article.main_argument.name, argument_path(article.main_argument)
      - unless article.aux_argument.nil?
        = "/"
        = link_to article.aux_argument.name, argument_path(article.aux_argument)
  %p= article.contenu if article.contenu
