#article
  %h3= article.full_title
  - if user_signed_in?
    %ul.actions
      %li= link_to "Modifier", edit_article_path(article)
      %li= link_to "Detruire", article, :method => :delete, :confirm => "Are you sure?"
  .clear
  - unless article.authors.empty?
    %div
      %span.label Autheurs :
      %ul.inline
        - article.authors.each do |author|
          %li= link_to h(author.short_name), author_path(author)
  - if article.argumentaire
    %div
      %span.label Arguments :
      %ul.inline
        - unless article.main_argument.nil?
          %li= link_to h(article.main_argument.name), argument_path(article.main_argument)
        - unless article.aux_argument.nil?
          %li= link_to h(article.aux_argument.name), argument_path(article.aux_argument)
  - unless article.categories.empty?
    %div
      %span.label Categories :
      %ul.inline
        - article.categories.each do |categorie|
          %li= link_to h(categorie.name), categorie_path(categorie)

  .clear
  - if user_signed_in?
    %div
      = textilize h(article.contenu) unless article.contenu.blank?
