- @article.build_argumentaire unless @article.argumentaire
-#encoding: utf-8
- semantic_form_for [@revue, @article] do |f|
  - f.inputs do
    = f.input :titre, :label => 'Titre', :input_html => {:size => "50x2"}
    = f.input :categories, :as => :check_boxes
    - f.semantic_fields_for :argumentaire do |argumentaire|
      - argumentaire.inputs do
        = argumentaire.input :main_argument, :label => "Argument principal", :collection => Argument.all(:order => :name)
        = argumentaire.input :aux_argument, :label => "Argument secondaire", :collection => Argument.all(:order => :name)
    = f.input :fiche_technique, :label => "Fiche Technique ?"
  - f.buttons do
    = f.commit_button "Enregistrer"
