= content_for :head do
  %script{type: "text/javascript", src: "/javascripts/wymeditor/jquery.wymeditor.min.js"}

- article.build_argumentaire unless article.argumentaire
- article.authorships.build if article.authorships.empty?

.clear
= nested_form_for [revue, article] do |f|
  = f.error_messages
  %ol
    %li
      = f.label :position
      = f.text_field :position, :type => "number", :size => "3", :min => "1"
    %li
      = f.label :titre, 'Titre'
      = f.text_area :titre, :size => "80x2"
    %li
      = f.label :fiche_technique, "Fiche Technique ?"
      = f.check_box :fiche_technique
    %li
      = f.label :contenu
      = f.text_area :contenu, :size => "80x30", :class => "wymeditor"

  %h4 Auteurs
  = f.fields_for :authorships do |authorship_form|
    = render 'authorship_fields', :f => authorship_form
  = f.link_to_add 'Rajouter un autheur', :authorships

  %h4 Catégories
  - Categorie.all.each do |categorie|
    %div
      = check_box_tag "article[categorie_ids][]",
        categorie.id, article.categories.include?(categorie)
      = categorie.name
  %h4 Argumentaire
  = f.fields_for :argumentaire do |argumentaire_form|
    = render 'argumentaire_fields', :f => argumentaire_form

  = f.submit "Enregistrer"

:coffeescript
  $(".wymeditor").wymeditor
    lang: "fr"
  $('input[type=submit]').addClass('wymupdate')
