- @article.build_argumentaire unless @article.argumentaire

.clear
= form_for [@revue, @article] do |f|
  = f.error_messages

  .field
    = f.label :fiche_technique, "Fiche Technique ?"
    %br/
    = f.check_box :fiche_technique
  .field
    = f.label :titre, "Titre"
    %br/
    = f.text_field :titre
  .field
    = f.label :contenu
    %br/
    = f.text_area :contenu

  %h2 Autheurs
  = render 'authorship_fields', :f => f

  .checkboxes_fields
    - Categorie.all.each do |cat|
      = check_box_tag "article[categorie_ids][]", cat.id, @article.categories.include?(cat)
      = cat.name

  %h2 Argumentaire
  = render 'argumentaire_fields', :f => f

  .actions
    = f.submit
