= content_for :head do
  %script{type: "text/javascript", src: "/javascripts/wymeditor/jquery.wymeditor.min.js"}

- article.build_argumentaire unless article.argumentaire
- article.authorships.build if article.authorships.empty?

= simple_form_for [revue, article], html: {class: 'form-horizontal'} do |f|
  = f.error_notification if f.error_notification
  = f.input :position, as: :integer, input_html: {class: "span1", :min => "1"}
  .control-group
    %label.control-label Titre
    .controls
      = f.text_area :titre, class: "span6", rows: 2
      %label.checkbox.inline
        = f.check_box :fiche_technique
        Fiche Technique ?
  = f.input :contenu, input_html: {:size => "80x30", :class => "wymeditor"}
  = f.input :authorship_tokens, as: :text, label: "Auteurs", input_html: {"data-pre" => article.authors.map(&:attributes).to_json}
  = f.association :categories, as: :check_boxes, item_wrapper_class: "inline"
  = f.fields_for :argumentaire do |argumentaire_form|
    .control-group
      %label.control-label Arguments
      .controls
        = argumentaire_form.text_field :main_argument_name, placeholder: "principal"
        = argumentaire_form.text_field :aux_argument_name, placeholder: "secondaire"

  .actions
    = f.button :submit, "Enregistrer", class: "btn-success", disable_with: "Enregistrer"
    = link_to "Retour à la revue", revue_path(revue), class: 'btn btn-danger'

:coffeescript
  $(".wymeditor").wymeditor
    lang: "fr"
  $('input[type=submit]').addClass('wymupdate')
