- @article.build_argumentaire unless @article.argumentaire

.clear
= form_for [@revue, @article] do |f|
  = f.error_messages

  %fieldset
    %ol
      %li
        = f.label :fiche_technique, "Fiche Technique ?"
        = f.check_box :fiche_technique
      %li
        = f.label :titre, "Titre"
        = f.text_area :titre, { :rows => "3", :cols => "60"}
      %li
        = f.label :contenu
        = f.text_area :contenu, { :rows => "2", :cols => "60"}

      %li
        %fieldset
          %legend Autheurs
          = render 'authorship_fields', :f => f

      %li
        %fieldset.checkboxes
          %legend Categories
          - Categorie.all.each do |cat|
            = check_box_tag "article[categorie_ids][]", cat.id, @article.categories.include?(cat)
            = cat.name

      %li
        %fieldset
          %legend Arguments
          = render 'argumentaire_fields', :f => f

  .actions
    = f.submit
