- title "Article##{params[:page]} du VIGItox#{@revue.numero}", false

%h1.revue= link_to "VIGItox n°#{@revue.numero}", @revue

.clear

= will_paginate @articles, :previous_label => "<--", :next_label => "-->"

- if @articles.empty?
  %p= "Aucun article pour le vigitox numéro #{@revue.numero}"
- else
  = render @articles, :revue => @revue

= will_paginate @articles, :previous_label => "<--", :next_label => "-->"
