- title "Rechercher des articles"

= content_for :subtitle do
  contenant '#{params[:search]}'

- if @articles.any?
  %table.table.table-condensed.table-striped
    %thead
      %tr
        %th Numéro
        %th Titre
    %tbody
      - @articles.each do |article|
        %tr
          %td.right= link_to "##{article.revue.numero}", revue_path(article.revue)
          %td= link_to article.full_title, article

  = paginate @articles, theme: "twitter-bootstrap"

- else
  %h2 Aucun article.
