-# encoding: utf-8
- title "Recherche"

.clear

- semantic_form_for @search do |f|
  - f.inputs do
    = f.input :titre_like, :label => "Mots dans le titre"
  - f.buttons do
    = f.commit_button 'OK'

- if params[:search]
  - if @articles.empty?
    %p
      Aucun résultat
    - if user_signed_in?
      %p
        Params :
        = params[:search] || "None"

  - else
    = will_paginate @articles, :previous_label => "<--", :next_label => "-->"
    %table.list
      %tr
        %th Titre
        %th N°
        %th Auteurs
        %th Arguments
      - @articles.each do |article|
        %tr{:class => "#{cycle('odd', 'even')}"}
          %td= article.full_title
          %td= article.revue_numero
          %td= article.authors_list
          %td= article.arguments

    = will_paginate @articles, :previous_label => "<--", :next_label => "-->"
