-# encoding: utf-8
- title "Rechercher des articles"

.clear

- semantic_form_for @search do |f|
  - f.inputs do
    = f.input :titre_like, :label => "Mots dans le titre"
  - f.buttons do
    = f.commit_button 'OK'

- if params[:search]
  - if @articles.empty?
    %p
      Aucun résultat
    - if user_signed_in?
      %p
        Params :
        = params[:search] || "None"

  - else
    = will_paginate @articles, :previous_label => "<--", :next_label => "-->"
    %table.list
      %tr
        %th Titre
        %th N°
        %th Auteurs
        %th Arguments
        %th Categories
      - @articles.each do |article|
        %tr{:class => "#{cycle('odd', 'even')}"}
          %td= link_to h(article.full_title), article
          %td= link_to h(article.revue_numero), revue_path(article.revue_id)
          %td
            - links_to_associations(article, "authors", "short_name")
          %td
            - links_to_arguments(article)
          %td
            - links_to_associations(article, "categories")
    = will_paginate @articles, :previous_label => "<--", :next_label => "-->"
