- title "Rechercher des articles", false

.clear

- if @articles.empty?
  %h2 Aucun résultat pour '#{params[:search]}'
  - if Rails.env.development?
    %p
      Params :
      = params[:search] || "None"

- else
  %h2 Résultats de la recherche pour '#{params[:search]}'
  = render 'shared/article_line', :articles => @articles
  = will_paginate @articles, :previous_label => "<--", :next_label => "-->"
