- title "Rechercher des articles"

= content_for :subtitle do
  contenant '#{params[:search]}'

- if @articles.any?
  %table.table.table-condensed
    %thead
      %tr
        %th Numéro
        %th Titre
    %tbody
      = render partial: 'shared/article', collection: @articles

  = page_entries_info @articles
  = will_paginate @articles

- else
  %h2 Aucun article.
