-# encoding: utf-8
- title "Rechercher des articles"

.clear

- semantic_form_for @search do |f|
  - f.inputs do
    = f.input :titre_like, :label => "Mots dans le titre"
  - f.buttons do
    = f.commit_button 'OK'

- if params[:search]
  - if @articles.empty?
    %p
      Aucun résultat
    - if user_signed_in?
      %p
        Params :
        = params[:search] || "None"

  - else
    = render 'shared/article_line', :articles => @articles
    = will_paginate @articles, :previous_label => "<--", :next_label => "-->"
