= simple_form_for resource, html: {class: "form-horizontal"} do |f|
  = f.error_notification if f.error_notification
  = f.input :name, :label => "Libéllé"
  = f.input :nature, :collection => Argument::NATURES
  .form-actions
    .btn-group
      = button_tag "Enregistrer", type: :submit, class: "btn btn-success"
      = link_to "Annuler les modifications", resource, class: "btn btn-danger"
      = link_to "Retour à la liste", arguments_path, class: "btn btn-danger"
