.clear

= simple_form_for @argument do |f|
  = f.error_messages
  .inputs
    = f.input :name, :label => "Libéllé"
    = f.input :nature, :collection => Argument::NATURES
  .buttons
    = f.button :submit
