= simple_form_for argument, html: {class: "form-horizontal"} do |f|
  = f.error_notification if f.error_notification
  = f.input :name, label: "Libellé"
  = f.input :nature, collection: Argument::NATURES
  .form-actions
    .btn-group
      = f.button :submit, "Enregistrer", class: "btn-success"
      - if params[:id]
        = link_to "Annuler les modifications", argument, class: "btn btn-danger"
      - else
        = link_to "Retour à la liste", arguments_path, class: "btn btn-danger"
