- title "Arguments"

.clear

%p= link_to 'Index PDF', arguments_path(:format => "pdf")

%table.list
  %thead
    %tr{:class => "#{cycle('odd', 'even')}"}
      %th Name
      %th Nature
      %th Articles
      %th &nbsp;
  %tbody
    - for argument in @arguments
      %tr{:class => "#{cycle('odd', 'even')}"}
        %td= link_to h(argument.name), argument
        %td= h argument.nature
        %td= argument.articles_as_main.count + argument.articles_as_aux.count
        - if user_signed_in?
          %td
            %ul.actions
              %li= link_to 'Modifier', edit_argument_path(argument)
              %li= link_to 'Détruire', argument, :confirm => 'Etes-vous sur ?', :method => :delete

= page_entries_info @arguments
= will_paginate @arguments
