- title "Arguments"

.clear

%p= link_to 'Index PDF', arguments_path(:format => "pdf")

%table.list
  %thead
    %tr{:class => "#{cycle('odd', 'even')}"}
      %th Name
      %th Nature
      %th Articles
      %th &nbsp;
  %tbody
    - for argument in @arguments
      %tr{:class => "#{cycle('odd', 'even')}"}
        %td= link_to h(argument.name), argument
        %td= h argument.nature
        %td= argument.articles_as_main.count + argument.articles_as_aux.count
        - if user_signed_in?
          %td
            %ul.actions
              %li= link_to 'Edit', edit_argument_path(argument)
              %li= link_to 'Destroy', argument, :confirm => 'Are you sure?', :method => :delete

%p= will_paginate @arguments, :previous_label => "<--", :next_label => "-->"
%hr/

- if user_signed_in?
  %p= link_to "Nouvel Argument", new_argument_path
