- title "Arguments"

= content_for :subtitle do
  = link_to 'Index PDF', arguments_path(:format => "pdf") if Rails.env.development?

- if @arguments.any?
  %table.table.table-condensed.table-striped
    %thead
      %tr
        %th Name
        %th Nature
        %th Articles
        %th &nbsp;
    %tbody
      - @arguments.each do |argument|
        %tr
          %td= link_to argument.name, argument
          %td= argument.nature
          %td= Article.with_main_argument(argument).count + Article.with_aux_argument(argument).count
          - if user_signed_in?
            %td
              %ul.actions
                %li= link_to 'Modifier', edit_argument_path(argument)
                %li= link_to 'Détruire', argument, :confirm => 'Etes-vous sur ?', :method => :delete

  = paginate @arguments, theme: "twitter-bootstrap"

- else
  Aucun argument.
