- title "Arguments"

.clear

%p= link_to 'Index PDF', arguments_path(:format => "pdf")

%table
  %tr
    %th Name
    %th Nature
  - for argument in @arguments_paginate
    %tr
      %td= link_to h(argument.name), argument
      %td= h argument.nature
      - if user_signed_in?
        %td= link_to 'Edit', edit_argument_path(argument)
        %td= link_to 'Destroy', argument, :confirm => 'Are you sure?', :method => :delete

%p= page_entries_info @arguments_paginate
%p= will_paginate @arguments_paginate, :previous_label => "<--", :next_label => "-->"
%hr/

- if user_signed_in?
  %p= link_to "Nouvel Argument", new_argument_path
