- title h(@argument.name.humanize)

- if user_signed_in?
  %ul.actions
    %li= link_to "Edit", edit_argument_path(@argument)
    %li= link_to "Destroy", @argument, :confirm => 'Are you sure?', :method => :delete

.clear

- if @argument.nature
  %div
    %span.label Nature:
    = h @argument.nature

- if !@articles_as_main.empty?
  %h3 Articles avec cet argument comme principal
  = render 'shared/article_line', :articles => @argument.articles_as_main
- else
  %h3 Pas d'articles avec cet argument comme principal

- if !@articles_as_aux.empty?
  %h4 Articles avec cet argument comme secondaire
  = render 'shared/article_line', :articles => @argument.articles_as_aux

- else
  %h4 Pas d'articles avec cet argument comme secondaire
