= form_for author, html: {class: "form-inline", role: "form"} do |f|
  = render 'application/error_message', model: author

  .form-group
    = f.label :nom, class: "sr-only"
    = f.text_field :nom, placeholder: "Nom", class: "form-control"

  .form-group
    = f.label :prenom, class: "sr-only"
    = f.text_field :prenom, placeholder: "Prénom", class: "form-control"

  .btn-group
    = f.submit "Enregistrer", class: "btn btn-success"
    - if params[:id]
      = link_to "Annuler les modifications", author, class: "btn btn-danger"
    - else
      = link_to "Retour à la liste", authors_path, class: "btn btn-danger"
