= simple_form_for author, html: {class: "form-inline"} do |f|
  = f.error_notification if f.error_notification
  .controls.controls-row
    = f.text_field :nom, placeholder: "Nom", class: "span2"
    = f.text_field :prenom, placeholder: "Prénom", class: "span2"
  .form-actions
    .btn-group
      = button_tag "Enregistrer", type: :submit, class: "btn btn-success", data: {disable_with: "Enregistrer"}
      = link_to "Annuler les modifications", author, class: "btn btn-danger"
      = link_to "Retour à la liste", authors_path, class: "btn btn-danger"
