- title "Auteurs"

%table.table.table-condensed.table-striped
  %thead
    %tr
      %th Nom
      %th Articles
      %th &nbsp;
  %tbody
    - for author in @authors
      %tr
        %td= link_to author.nom_and_prenom, author
        %td= author.authorships.size
        - if user_signed_in?
          %td
            %ul.actions
              %li= link_to 'Modifier', edit_author_path(author)
              %li= link_to 'Détruire', author, :confirm => 'Etes-vous sur ?', :method => :delete
= paginate @authors, theme: "twitter-bootstrap"

- if user_signed_in?
  = link_to new_author_path, class: "btn btn-success" do
    %i.icon-white.icon-plus
    Nouvel Auteur
