- title "Autheurs"

.clear

%table.list
  %thead
    %tr
      %th Nom
      %th Articles
      %th &nbsp;
  %tbody
    - for author in @authors
      %tr{:class => "#{cycle('odd', 'even')}"}
        %td= link_to h(author.short_name), author
        %td= author.authorships.size
        - if user_signed_in?
          %td
            %ul.actions
              %li= link_to 'Modifier', edit_author_path(author)
              %li= link_to 'Détruire', author, :confirm => 'Etes-vous sur ?', :method => :delete

= will_paginate @authors, :previous_label => "<--", :next_label => "-->"
