- title h(@author.short_name)

- if user_signed_in?
  %ul.actions
    %li= link_to "Edit", edit_author_path(@author)
    %li= link_to "Destroy", @author, :confirm => 'Are you sure?', :method => :delete

.clear

%div
  %span.label Nom :
  = h @author.nom

%div
  %span.label Prénom :
  = h @author.prenom

- if !@articles.blank?
  %h3 Articles par cet autheur :
  = render 'shared/article_line', :articles => @articles
- else
  %h3 Pas d'articles

%p= page_entries_info @articles
%p= will_paginate @articles, :previous_label => "<--", :next_label => "-->"
