%ol
  %li
    = f.label :titre
    = f.text_area :titre, :size => "80x3"
  %li
    = f.label :contenu
    = f.text_area :contenu, :size => "80x15", :class => "wymeditor"
  %li
    = f.label :author_name, "Autheur"
    = f.text_field :author_name
