.clear

= simple_form_for @revue do |f|
  = f.error_messages
  .inputs
    = f.input :numero, :label => 'Numéro'
    = f.input :date_sortie, :label => 'Sortie',
      :discard_day => true, :include_blank => true
    = f.input :pdf_url, :label => 'Lien PDF'
  .buttons
    = f.button :submit
