- @revue.redactionships.build if @revue.redactionships.empty?
- @revue.build_editorial unless @revue.editorial

.clear

= nested_form_for @revue do |f|
  = f.error_messages
  %ol
    %li
      = f.label       :numero, 'Numéro'
      = f.text_field  :numero, :size => 3, :type => "number", :min => "#{Revue.last.numero}"
    %li
      = f.label       :date_sortie, 'Sortie'
      = f.date_select :date_sortie, :discard_day => true, :include_blank => true
    %li
      = f.label     :pdf_url, 'Lien PDF'
      = f.text_field :pdf_url, :size => "80x3", :type => "url"

  %h4 Editorial
  = f.fields_for :editorial do |editorial_form|
    = render 'editorial_fields', :f => editorial_form

  %h4 Comité de rédaction
  = f.fields_for :redactionships do |redactionship_form|
    = render 'redactionship_fields', :f => redactionship_form
  = f.link_to_add 'Rajouter un rédacteur', :redactionships

  .clear

  = f.submit "Enregistrer"
