-# encoding: utf-8
.clear
= form_for @revue, :html => { :multipart => true } do |f|
  = f.error_messages
  %fieldset
    %ol
      %li
        = f.label :numer, "Numéro"
        = f.text_field :numero
      %li
        = f.label :date_sortie, "Date de sortie"
        = f.date_select :date_sortie, :discard_day => true, :include_blank => true
      %li
        = f.label :pdf, "Joindre le PDF"
        = f.file_field :pdf
    .actions
      = f.submit
