#revue
  %h3= link_to "VIGItox##{revue.numero}", revue
  - if user_signed_in?
    %ul.actions
      %li= link_to "Modifier", edit_revue_path(revue)
      %li= link_to "Détruire", revue,
        :confirm => 'Are you sure?', :method => :delete
  .clear
  %ul.articles
    - revue.articles.each do |article|
      - content_tag_for :li, article do
        %strong
          = link_to article.full_title,
            revue_articles_path(article.revue, :page => article.position)
