- title "Index VIGItox", false

- form_tag search_path, :method => :get do
  = text_field_tag "search[titre_or_contenu_like]", params[:search][:titre_or_contenu_like]
  = submit_tag "Recherche", :name => nil

%h2 Derniers numéros publiés

= will_paginate @revues, :previous_label => "<--", :next_label => "-->"

= render @revues

= will_paginate @revues, :previous_label => "<--", :next_label => "-->"
