- title "Revues"

%table
  %tr
    %th Numero
    %th Date sortie
  - for revue in @revues
    %tr
      %td= h revue.numero
      %td= h revue.date_sortie
      %td= link_to 'Show', revue
      %td= link_to 'Edit', edit_revue_path(revue)
      %td= link_to 'Destroy', revue, :confirm => 'Are you sure?', :method => :delete

%p= link_to "Nouveau numéro", new_revue_path
