-# encoding: utf-8
- title "Liste des Vigitox publiés"

%p
  = link_to "Index par produits", tags_path(:format => "pdf")
%p
  = link_to "Index par pathologies", pathologies_path(:format => "pdf")

#revues
  - for revue in @revues
    %h2
      = link_to "Vigitox N°#{revue.numero}", revue_path(revue)

%p= link_to "Nouveau numéro", new_revue_path
