- title "Vigitox N° #{@revue.numero}"

- if user_signed_in?
  %ul.actions
    %li= link_to "Edit", edit_revue_path(@revue)
    %li= link_to "Destroy", @revue, :confirm => 'Are you sure?', :method => :delete

.clear

%p
  - prev_and_next_item("Préc. <--", "&nbsp;", "--> Suiv.", @prev, @next)

- if @revue.pdf?
  %p= link_to 'Télécharger le PDF', @revue.pdf.url
- else
  - if user_signed_in?
    - semantic_form_for @revue, :html => { :multipart => true } do |f|
      - f.inputs do
        = f.input :pdf, :label => "Joindre le PDF"
      - f.buttons do
        = f.commit_button "Envoyer"

%p
  %strong= "Date de sortie : "
  = l(@revue.date_sortie, :format => :month_year)

- if @revue.issn
  %p
    %strong= "ISSN : "
    = @revue.issn

-if !@revue.articles.blank?
  %h2 Liste des articles
  %ul.articles
    = render :partial => @revue.articles
-else
  %p= "Aucun article pour le vigitox numéro #{@revue.numero}"

- if user_signed_in?
  = sortable_element('articles', :url => sort_revue_articles_path(@revue), :handle => 'handle')
  %p= link_to "Nouvel article", new_revue_article_path(@revue)
