= content_for :head do
  :javascript
    $(function(){
      $('#sortable').sortable({
        update: function() {
          $.ajax({
            type: 'post',
            data: $(this).sortable('serialize') + "&id=#{@revue.id}",
            dataType: 'script',
            complete: function(request){
              $('#sortable').effect('highlight');
            },
            url: "/revues/sort_articles"
          })
        }
      })
    })

- title "Vigitox N° #{@revue.numero}"

- unless @revue.pdf_url.blank?
  = link_to @revue.pdf_url do
    = image_tag("pdficon_large.gif", :alt => "Version PDF", :title => "Version PDF", :class => "pdf_link")

- if user_signed_in?
  - actions(@revue)

.clear

%p
  - prev_and_next_item("Préc. <--", raw("&nbsp;"), "--> Suiv.", @prev, @next)

%p
  %strong Sortie :
  = l(@revue.date_sortie, :format => :month_year)

- unless @revue.redacteurs.empty?
  %div
    %strong Comité de rédaction :
    %ul.inline
      - @revue.redacteurs.each do |redacteur|
        %li= link_to redacteur.short_name, author_path(redacteur)

- if @revue.editorial
  %h2 Editorial
  #editorial
    %h4= @revue.editorial.titre
    = raw textilize @revue.editorial.contenu
    %p.redacteur
      %strong= @revue.editorial.author.short_name

  .clear

- if !@revue.articles.empty?
  %h2 Articles
  %ol.articles#sortable
    - @revue.articles.each do |article|
      = content_tag_for :li, article do
        - if user_signed_in?
          %span.handle [drag]
        %strong
          = link_to article.full_title, revue_articles_path(@revue, :page => article.position)
- else
  %p= "Aucun article pour le vigitox numéro #{@revue.numero}"

- if user_signed_in?
  %hr/
  %p= link_to "Rajouter un article", new_revue_article_path(@revue)
