-# encoding: utf-8
- title "Vigitox N° #{@revue.numero}"

%p
  %strong= "Date de sortie : " + (l @revue.date_sortie, :format => :month_year)

%p
  = link_to "Edit", edit_revue_path(@revue)
  |
  = link_to "Destroy", @revue, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", revues_path
