- title "Vigitox N° #{@revue.numero}"

= content_for :subtitle do
  = l(@revue.date_sortie, format: :month_year)
  - link = @revue.pdf.exists? ? @revue.pdf.url(download: true) : @revue.pdf_url
  = link_to image_tag("pdficon_large.gif", alt: "Version PDF", title: "Version PDF", class: "pdf_link"), link if link

= content_for :subnav do
  .subnav
    - prev_and_next_item("&larr; Préc.", "Suiv. &rarr;")
    .article-title
      %h4
        Vigitox n° #{@revue.numero}
        %small= l @revue.date_sortie, format: :month_year

- if user_signed_in?
  - actions(@revue)

- unless @revue.redacteurs.empty?
  %div
    %strong Comité de rédaction :
    %ul.inline
      - @revue.redacteurs.each do |redacteur|
        %li= link_to redacteur.short_name, author_path(redacteur)

- if @revue.editorial
  %h2 Editorial
  #editorial
    %h3= @revue.editorial.titre
    %blockquote
      = raw textilize @revue.editorial.contenu
      %small
        %strong= @revue.editorial.author.short_name

  .clear

- if @revue.articles.any?
  - @revue.articles.each do |article|
    = content_tag_for :div, article do
      = link_to article do
        %h4
          %i.icon-book
          = article.full_title
- else
  %p= "Aucun article pour le vigitox numéro #{@revue.numero}"

- if user_signed_in?
  %hr/
  .btn-group
    = link_to "Rajouter un article", new_article_path(revue_id: @revue.id), class: "btn btn-primary pull-right"
