- title "Vigitox N° #{@revue.numero}"

- unless @revue.pdf_url.blank?
  = link_to @revue.pdf_url do
    = image_tag("pdficon_large.gif", :alt => "Version PDF", :title => "Version PDF", :class => "pdf_link")

- if user_signed_in?
  - actions(@revue)

.clear

%p
  - prev_and_next_item("Préc. <--", raw("&nbsp;"), "--> Suiv.", @prev, @next)

%p
  %strong= "Date de sortie : "
  = l(@revue.date_sortie, :format => :month_year)

- if !@revue.articles.empty?
  %h2 Articles
  %ul.articles#articles
    - @revue.articles.each do |article|
      = content_tag_for :li, article do
        - if user_signed_in?
          %span.handle [drag]
        %strong
          = link_to article.full_title, revue_articles_path(@revue, :page => article.position)
- else
  %p= "Aucun article pour le vigitox numéro #{@revue.numero}"

- if user_signed_in?
  = sortable_element('articles', :url => sort_revue_articles_path(@revue), :handle => 'handle')
  %hr/
  %p= link_to "Rajouter un article", new_revue_article_path(@revue)
