- title "Vigitox N° #{@revue.numero}"

= content_for :subtitle do
  = l(@revue.date_sortie, :format => :month_year)
  - if @revue.pdf_url
    = link_to @revue.pdf_url do
      = image_tag("pdficon_large.gif", :alt => "Version PDF", :title => "Version PDF", :class => "pdf_link")

= content_for :subnav do
  .subnav
    - prev_and_next_item("&larr; Préc.", "Suiv. &rarr;")


- if user_signed_in?
  - actions(@revue)

- unless @revue.redacteurs.empty?
  %div
    %strong Comité de rédaction :
    %ul.inline
      - @revue.redacteurs.each do |redacteur|
        %li= link_to redacteur.short_name, author_path(redacteur)

- if @revue.editorial
  %h2 Editorial
  #editorial
    %h3= @revue.editorial.titre
    %blockquote
      = raw textilize @revue.editorial.contenu
      %small
        %strong= @revue.editorial.author.short_name

  .clear

- if @revue.articles.any?
  - @revue.articles.each do |article|
    = content_tag_for :div, article do
      = link_to [@revue, article] do
        %h4
          %i.icon-book
          = article.full_title
- else
  %p= "Aucun article pour le vigitox numéro #{@revue.numero}"

- if user_signed_in?
  %hr/
  %p= link_to "Rajouter un article", new_revue_article_path(@revue)
