- title @tag.name

%p
  = link_to "Edit", edit_tag_path(@tag)
  |
  = link_to "Destroy", @tag, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", tags_path

- if !@articles.blank?
  %table
    - for article in @articles
      %tr
        %td.right
          = link_to "##{article.revue.numero}", revue_path(article.revue)
        %td
          = article.titre
- else
  Pas d'articles

