= form_for categorie, html: {class: 'form-inline', role: "form"} do |f|
  = render 'application/error_message', model: categorie

  .form-group
    = f.label :name, class: "sr-only"
    = f.text_field :name, placeholder: "Libellé", class: "form-control"

  .btn-group
    = f.submit "Enregistrer", class: "btn btn-success"
    - if params[:id]
      = link_to "Annuler les modifications", categorie, class: "btn btn-danger"
    - else
      = link_to "Retour à la liste", categories_path, class: "btn btn-danger"
