- title "Catégories"

= content_for :subtitle do
  = link_to 'Index PDF', categories_path(:format => "pdf") if Rails.env.development?

%table.table.table-condensed.table-striped
  %thead
    %tr
      %th Nom
      %th N. Articles
      %th &nbsp;
  %tbody
    - @categories.each do |categorie|
      %tr
        %td= link_to categorie.name, categorie
        %td= categorie.articles.count
        - if user_signed_in?
          %td
            .btn-group
              = link_to 'Modifier', edit_categorie_path(categorie), class: "btn btn-sm btn-warning"
              = link_to 'Détruire', categorie, data: {confirm: 'Sûr ?'}, method: :delete, class: "btn btn-sm btn-danger"

- if user_signed_in?
  .pull-right
    = link_to new_categorie_path, class: "btn btn-success" do
      %span.glyphicon.glyphicon-plus
      Nouvelle Categorie
