<% title "Categories" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for categorie in @categories %>
    <tr>
      <td><%=h categorie.name %></td>
      <td><%= link_to "Show", categorie %></td>
      <td><%= link_to "Edit", edit_categorie_path(categorie) %></td>
      <td><%= link_to "Destroy", categorie, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Categorie", new_categorie_path %></p>
