- title "Categories"

%table
  %tr
    %th Name
  - for categorie in @categories
    %tr
      %td
        = link_to categorie.name, categorie
        = "#{categorie.articles.count} articles"
      %td= link_to 'Edit', edit_categorie_path(categorie)
      %td= link_to 'Destroy', categorie, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Categorie", new_categorie_path
