- title @categorie.name

- if user_signed_in?
  %ul.actions
    %li= link_to "Edit", edit_categorie_path(@categorie)
    %li= link_to "Destroy", @categorie, :confirm => 'Are you sure?', :method => :delete

.clear

= link_to "Index au format PDF", categorie_path(@categorie, :format => 'pdf')

- if !@articles.blank?
  %table
    - for article in @articles
      %tr
        %td.right
          = link_to "##{article.revue.numero}", revue_path(article.revue)
        %td
          = article.titre
- else
  Pas d'articles

%p= page_entries_info @articles
%p= will_paginate @articles, :previous_label => "<--", :next_label => "-->"
