- title @categorie.name

= link_to "Index au format PDF", categorie_path(@categorie, :format => 'pdf')

%p
  = link_to "Edit", edit_categorie_path(@categorie)
  |
  = link_to "Destroy", @categorie, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", categories_path

- if !@categorie.articles.blank?
  %table
    - for article in @categorie.articles
      %tr
        %td.right
          = link_to "##{article.revue.numero}", revue_path(article.revue)
        %td
          = article.titre
- else
  Pas d'articles

