- title "Articles appartenant à la catégorie : #{@categorie.name}"

- if user_signed_in?
  %ul.actions
    %li= link_to "Edit", edit_categorie_path(@categorie)
    %li= link_to "Destroy", @categorie, :confirm => 'Are you sure?', :method => :delete

- if @articles.any?
  = content_for :subtitle do
    = link_to "Index articles au format PDF", categorie_path(@categorie, :format => 'pdf') if Rails.env.development?
  = render "articles/articles", articles: @articles

- else
  Pas d'articles
