!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title
      = h(yield(:title) || "Untitled")
    = stylesheet_link_tag 'application', 'formtastic', 'formtastic_changes', 'jquery-ui'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js', 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js', 'jrails', 'application'
    = javascript_include_tag 'jquery', 'jquery-ui', 'jrails', 'application'

    = yield(:head)
  %body
    #header
      #corner
        &nbsp;
      #banner
        %h1= link_to "Index VIGItox", root_path
        #user_nav
          - if user_signed_in?
            = "Bonjour, #{current_user.email}."
            = link_to "Déconnection", destroy_user_session_path
          - else
            = link_to "Connection", new_user_session_path
    #main
      #menu
        %ul
          %li= link_to "Recherche", search_path
          %li
            %ul.links
              %li= link_to "Autheurs", authors_path
              %li= link_to "+", new_author_path if user_signed_in?
          %li
            %ul.links
              %li= link_to "Categories", categories_path
              %li= link_to "+", new_categorie_path if user_signed_in?
          %li
            %ul.links
              %li= link_to "Arguments", arguments_path
              %li= link_to "+", new_argument_path if user_signed_in?
      #container
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"

        - if show_title?
          %h1
            = h yield(:title)
        = yield
