!!!
%html
  %head
    %title
      = yield(:title) || "Untitled"
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}/
    = javascript_include_tag 'jquery-1.4.2.min', 'jquery-ui-1.8.2.custom.min', 'rails', 'autocomplete-rails' 
    = stylesheet_link_tag 'application', 'jquery-ui-1.8.2.custom', 'formtastic', 'formtastic_changes', :cache => 'base'
    = csrf_meta_tag
    = yield(:head)
  %body
    #header
      #corner
        &nbsp;
      #banner
        %h1= link_to "Index VIGItox", root_path
        #user_nav
          - if user_signed_in?
            = "Bonjour, #{current_user.email}."
            = link_to "Déconnection", destroy_user_session_path
          - else
            = link_to "Connection", new_user_session_path
    #main
      #menu
        %ul
          %li= link_to "Revues", revues_path
          %li= link_to "Autheurs", authors_path
          %li= link_to "Categories", categories_path
          %li= link_to "Arguments", arguments_path
      #container
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"

        - if show_title?
          %h1= yield(:title)
        = yield
