!!!
%html
  %head
    %title= yield(:title) || "Untitled"
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    :plain
      <!-- if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

    /[if IE 6]
      = stylesheet_link_tag  "ie6"
    /[if IE 7]
      = stylesheet_link_tag  "ie7"
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tag
    = favicon_link_tag
    = yield(:head)

  %body{class: (kontroller = params[:controller]), id: kontroller}
    %header
      = render 'layouts/navigation'
    %main{role: "main"}
      .container
        %header#page_header
          = yield(:page_header)
          %h1
            = yield(:title) if show_title?
            %small= yield(:subtitle)
          = yield(:subnav)

        #main.clearfix
          = yield

    %footer#footer
      .btn-group
        = link_to "mailto:centre.antipoison@chu-lyon.fr", class: "btn btn-link" do
          %span.glyphicon.glyphicon-envelope
          Nous contacter
        = link_to disclaimer_path, class: "btn btn-link" do
          %span.glyphicon.glyphicon-exclamation-sign
          Mentions légales

      = yield :footer
